@tailwind base;
/* Write your global styles here, in PostCSS syntax */

.gradient {
  background: linear-gradient(90deg, #0575E6 0%, #021B79 100%);
}
body a { text-decoration: underline }
body p { padding-bottom: 10px }

@tailwind components;
@tailwind utilities;
